<a href="https://colab.research.google.com/github/codebufferr/python/blob/master/pyd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("hello world")

hello world

The name Python was selected from the TV Show
 "The Complete
 Monty
 Python's
 

1. Functional Programming Features from C
2. Object Oriented Programming Features from C++
3. Scripting Language Features from Perl and Shell Script


Where we can use Python:
We can use everywhere. The most common important application areas are
1. For developing Desktop Applications
2. For developing web Applications
3. For developing database Applications
4. For Network Programming
5. For developing games
6. For Data Analysis Applications
7. For Machine Learning
8. For developing Artificial Intelligence Applications
9. For IOT

In [3]:
a=int(input("Enter the 1st number:"))
b=int(input("Enter the 2nd number:"))
print("sum",a+b,"mult",a*b,"subs",a-b,"devide",a/b)

Enter the 1st number:121
Enter the 2nd number:12
sum 133 mult 1452 subs 109 devide 10.083333333333334

you can ask input by this method 


1. alphabet symbols(either lower case or upper case)
2. digits(0 to 9)
3. underscore(_)
4. Doller symbol is not allowed 
5. If identifier starts with _ symbol then it indicates that it is private
6. If identifier starts with __(two under score symbols) indicating that strongly private
identifier.
7. If the identifier starts and ends with two underscore symbols then the identifier is
8. language defined special name,which is also known as magic methods.

There are 33 reserved words available in Python.

 True,False,None
 and, or ,not,is
 if,elif,else
 while,for,break,continue,return,in,yield
 try,except,finally,raise,assert
 import,from,as,class,def,pass,global,nonlocal,lamda,del with

 *Except 3 kewwords all contain only lower case

 True,False,None

In [3]:
a=10
id(a)

10914784

we can know the Adress , type of the given input
type()
id()

In [16]:
a=12+3.6j
print(a.real)
print(a.imag)

12.0
3.6

for complex number

In [2]:
a=int(input("number1:"))
b=int(input("number2:"))
c=a>b
print(c)

number1:123
number2:124
False

for BOOL function

 We can use this data type to represent boolean values.
 #The only allowed values for this data type are:
 True and False

 #internally they present 0 for false and 1 for TRUE

In [4]:
int(True)

1

In [5]:
int(False)

0